.auth-page {
    display: flex;
    justify-content: flex-end;
    padding: 10vmin;
    height: 100vh;
}

.align-div-items{
    display: flex;
    flex-direction: column-reverse;
    justify-content:center;
}